.routeur {
    @include verticalCenter;
    flex-direction: column;
}
form {
    
    display: flex;
   //width : 400px;
    justify-content: center;
    background: url(../../assets/img/main.jpg) center/cover;;
    padding: 10px;
    align-items: center;
   // align-content: center;
    //border: 1px solid $color-1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.307);
    border-radius:  10px;
}

.element {
    //position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    //flex-direction: column;
    align-items: center;
    margin-top:30px;
    //margin-left: 650px;
    padding:10px;
    height: 170px;
    border-radius:  5px;
    //border: 1px solid $color-1;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.307);


   // background-color:$color-1;
    color: $color-2;
    width: 440px;
    
    .button {
        //@include verticalCenter;
       margin: 5px auto;
       width: 100px;
       border-radius: 20px;
       padding: 5px;
       box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
       font-size: large;
       background: $color-2;
       color:  $color-1;
       transition: 0.2s;
       cursor: pointer;
       
       &:hover{
        color:$color-2;
        background:$color-1; 
    }
       img {
           height: 40px;
       }
       
   }
 
    .objet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c d";

        width: 100%;

        .label1 {
            grid-area: a;
            margin-left: 112px;
         }
        .label2 {
            grid-area: c;
        }

       .input1 {
            grid-area: b;
        }
        .input2 {
            grid-area: d;
        }
    }}